# Qt / Qt Creator
*.pro.user
*.pro.user.*
*.creator.user
*.moc
*.o
*.obj
*.exe
build-*/
Makefile
*.qrc.cpp
ui_*.h

# Debug / Release folders
debug/
release/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# OS
.DS_Store
Thumbs.db